<h2>Sent Messages</h2>
<% if @messages.size == 0 %>
No Sent messages
<% else %>
		<%= form_tag delete_multiple_user_messages_path, :method=>:post do %>
			<table class="table table-bordered">
				<tr>
					<th>Delete?</th>
					<th>Subject</th>
					<th>Send To</th>
					<th>Sent At</th>
				</tr>
				<% for message in @messages %>
				<tr>
					<td><%= check_box_tag "delete[]", message.id %></td>
					<td><%= link_to h(message.subject), user_message_path(@user, message) %></td>
					<td><%= "#{message.recepient.first_name} #{message.recepient.last_name}" %></td>
					<td><%=h message.created_at.to_s(:long) %></td>
				</tr>
				<% end %>
			</table>
		<%= submit_tag "Delete selected" %>
		<% end %>
	<%= link_to "View Inbox", user_messages_path(current_user, :mailbox=>:inbox)%>
<% end %>
