<p>
	<strong>From:</strong> 
	<%= @message.sender == @user ? "You" : "#{@message.sender.first_name} #{@message.sender.last_name}" %>
</p>

<p>
	<strong>Received:</strong> 
	<%= @message.created_at.to_s(:long) %>
</p>
<p>
	<strong>To:</strong> 
	<%= @message.recepient == @user ? "You" : "#{@message.recepient.first_name} #{@message.recepient.last_name}" %>
</p>

<p>
	<strong>Message</strong><br />
	<%=h @message.body %>
</p>
<p>
	<% if @message.recepient == @user %>
	<%= link_to "Reply", new_user_message_path(@user, :reply_to => @message.sender.beamer_id) %> |
	<% end %>
	<%= link_to "Inbox", user_messages_path(current_user, :mailbox=>:inbox)%>
</p>
