<% if scribbles_streams.empty? %>
<h3> no scribbles yet </h3>
<% else %>
  <% scribbles_streams.each do |scribble| %>
    <div class="scribblebody"> 
          <div class="votebox">

                       <a href="" id="<%= scribble.id %>" name="up" class="votes">
                       <div class='up'></div><%= scribble.ups %> likes</a>
         
                       <a href=""  id="<%= scribble.id %>"  name="down" class="votes">
                       <div class='down'></div><%= scribble.downs %> dislikes</a>

          </div>
          <div class="scribbleimg"><img src="assets/default_avatar.png" style='width:50px;height:50px'/></div>
          <div class="scribbletext">
          <blockquote>
          <p><%= scribble.post %></p>
          <small><%= scribble.posted_by %></small>
          </blockquote>
          <div class="scribbletime">created at  <%= scribble.created_at %></div></div> 
     </div>
  <% end %>
<% end %>
    
