<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= "Socialbeam" %></title>
   <!-- Javascripts
    ================================================== -->
   <%= javascript_include_tag :jquery %>
   <%= javascript_include_tag :bootstrap %>
   <!-- stylesheets
    ================================================== -->
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>
			  <!-- Log In Modal -->
			   <div class="modal hide fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			   <div class="modal-header">
			   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			   <h3 id="myModalLabel">Log in to Socialbeam</h3>
			   </div>
			   <div class="modal-body">
			   <%= render "/sessions/new.html.erb"%>
			   </div>
			   <div class="modal-footer">
			   <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			   </div>
			   </div>
			   <!-- End of Log In Modal -->

			   <!-- Sign Up Modal -->
			   <div class="modal hide fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			   <div class="modal-header">
			   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			   <h3 id="myModalLabel">Create an Account</h3>
			   </div>
			   <div class="modal-body">
			   <% @user = User.new %>
			   <%= render "/users/new.html.erb"%>
			   </div>
			   <div class="modal-footer">
			   <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			   </div>
			   </div>
			   <!-- End of Sign Up Modal -->


          <% if current_user %>
            <div class="navbar navbar-fixed-top">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="#">Socialbeam</a>
                  <div class="nav-collapse">
                    <ul class="nav">
                      <li class="active"><a href="#">Home</a></li>
                      <li class="divider-vertical"></li>
                      <li><a href="#">Profile</a></li>
                      <li class="divider-vertical"></li>
                      <li><a href="#">My Connections</a></li>
                      <li class="divider-vertical"></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Messaging<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                         <li class="nav-header">My Messages</li>
                          <li><a href="#">Inbox</a></li>
                          <li><a href="#">Sent Items</a></li>
                          <li><a href="#">Archive</a></li>
                          <li class="divider"></li>
                          <li class="nav-header">Groups  Subscriptions</li>
                          <li><a href="#">Inbox</a></li>
                          <li><a href="#">Sent Items</a></li>
                        </ul>
                      </li>
                      <li class="divider-vertical"></li>
                    </ul>
                    <form class="navbar-search pull-left" action="">
                      <input type="text" class="search-query span2" placeholder="Search">
                    </form>
                    <ul class="nav pull-right">
                      <li><a href="#">Link</a></li>
                      <li class="divider-vertical"></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Settings</a></li>
                          <li><a href="#">Security</a></li>
                          <li><a href="#">Permission</a></li>
                          <li class="divider"></li>
                          <li><a href="/logout_user">Logout(<%= current_user.first_name %>)</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div><!-- container-->
              </div><!-- /navbar-inner -->
            </div><!-- /navbar -->
          <% else %>
              <div class="navbar navbar-fixed-top">
                 <div class="navbar-inner">
                    <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </a>
                   <a class="brand" href="#">Socialbeam</a>
                    
                                <div class="nav-collapse">
                              
                                <ul class="nav pull-right">
                                <li><button class="btn" id="loginclick">Sign In</button></li>
                                <li class="divider-vertical"></li>
                                <li><button class="btn" id="signupclick">Join Socialbeam</button></li>
                                <li class="divider-vertical"></li>
                                <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Why Join Socialbeam?<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                               <li><a href="#">Connect</a></li>
                               <li><a href="#">Collaborate</a></li>
                               <li><a href="#">Empower</a></li>
                               <li class="divider"></li>
                               <li><a href="#">Take A Tour!</a></li>
                               </ul>
                               </li>
                         </ul>
                        </div><!-- /.nav-collapse -->
                    </div><!-- container>
                 </div><!-- /navbar-inner -->
             </div><!-- /navbar -->
               
          <% end %>

   <% if current_user %>
    <div class="container" style="margin-top:50px;">
        <div class="row">
         <div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">Beamer</li>
                <li><%= link_to "My Badges", ""  %></li>
                <li><%= link_to "Connections", ""  %></li>
                <li><%= link_to "Messaging", ""  %></li>
                <li><%= link_to "Groups", ""  %></li>
              </ul>
            </div><!--/.well -->
          </div><!--/span-->
          <div class="span9">
             <%= yield %>
          </div>
        </div><!--/row-->

      <footer>
        <p>&copy; Socialbeam 2012</p>
      </footer>
    </div> <!-- /container -->
  <% else %>
   <div class="container" style="margin-top:50px;">
     <%= yield %>
      <footer>
        <p>&copy; Socialbeam 2012</p>
      </footer>
    </div> <!-- /container -->
    <% end %>
  </body>
  <script>
   $('#loginclick').click(function(){
    $('#login').modal('show')
   });
   $('#signupclick').click(function(){
    $('#signup').modal('show')
   });
</script>
</html>
