<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Doozy</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href=<%= login_path %>>Sign In</a></li>
        <li><a href=<%= signup_path %>>Join Us?</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="jumbotron">
    <h1>Doozy</h1>
    <p>Social Network built on Ruby on Rails</p>
    <p>
      <a class="btn btn-lg btn-primary" href=<%= signup_path %> role="button">Join Doozy »</a>
    </p>
  </div>
  <%= render :template=>'/shared/flash.html.erb' %>
  <%= yield %>
</div>